{% extends 'Merequetengue/single_page_template.html' %}

{% block content %}
    <!-- Preview Image -->
    {% if pegoste.image %}
        <div class="col-lg-2">
            <img class="img-responsive" src="{{ pegoste.image.url }}" alt="{{ pegoste.image.name }}">
        </div>
        <div class="col-lg-6">
    {% else %}
        <div class="col-lg-8">
    {% endif %}

    <!-- Blog Post -->
    {% if pegoste %}
        {% if pegoste_updatable %}
            <a class="btn btn-primary" href="{% url 'Fandango:update_pegoste' user pegoste.slug %}">
                Update Pegoste
            </a>
        {% endif %}

        <!-- Post Content -->
        <p class="lead"> </p>

        {{ pegoste.content|linebreaks }}

        <hr>

        <!-- Date/Time -->
        <p>
            <i class="fa fa-clock-o"></i> Posted by <em>{{ pegoste.author.username }}</em> on {{ object.publish_date }}
        </p>
    {% else %}
        <p>Klaatu barada nikto!</p>
    {% endif %}

    </div>
{% endblock %}

{% block flex_header %}
    {{ username|capfirst }}'s recent pegostes
{% endblock %}

{% block flex_content %}
    {% for recent in recent_pegostes %}
        <li>
            <a href="{% url 'Fandango:pegoste' username recent.slug %}">
                {{ recent.title|title }}
            </a>
        </li>
    {% endfor %}
{% endblock %}